#Example of configuration overriding
#IOTCRAFTER_UPGRADE=1
#IOTCRAFTER_RPI_UPDATE=1
#IOTCRAFTER_RPI_FIRMWARE_REV=c1f3e94f22866aa26e41b4d107e6e3741b917a98
#IOTCRAFTER_KERNEL_HASH=921b6254452db87ae0304beaa9833cfdf5083ed8
