#Example of configuration overriding
#IOTCRAFTER_UPGRADE=1
#IOTCRAFTER_RPI_UPDATE=1
#IOTCRAFTER_KERNEL_HASH=921b6254452db87ae0304beaa9833cfdf5083ed8
#IOTCRAFTER_RPI_FIRMWARE_REV=70f1581eec2c036b7e9309f1af41c651fb125447

# Override raspbian repo mirror (debootstrap, apt)
RASPBIAN_REPO_MIRROR=http://raspbian.mirror.vu.lt/raspbian/raspbian/
#RASPBIAN_REPO_MIRROR=http://quantum-mirror.hu/mirrors/pub/raspbian/raspbian/
#RASPBIAN_REPO_MIRROR=http://debian.bio.lmu.de/raspbian/raspbian/
#RASPBIAN_REPO_MIRROR=http://mirror.datacenter.by/pub/mirrors/archive.raspbian.org/raspbian/
#RASPBIAN_REPO_MIRROR=http://mirror.netzwerge.de/raspbian/
